@{
    ViewData["Title"] = "Home Page";
}
@model WorldFitness.Models.Login
<div class="text-center">
    <h1 class="display-4">Welcome to World Fitness Club</h1>
    <h3>Please Log in:</h3>
    <input style="background-color:darkturquoise"type="button" value="Login"
        onclick="window.location='@Url.Action("Login","Home")'" />
    <input style="background-color:powderblue" type="button" value="Logout"
           onclick="window.location='@Url.Action("Logout","Home")'" />
</div>
